
.tab {
    display: inline-block;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

#tab-title {
    position: relative;
    width: inherit;

    text-align: center;

    height: 5%;

    color: white;
    text-shadow: 0px 3px 3px black;
}


#recipes-main-border {
    display: flex;
    flex-direction: column;
    position: relative;

    height: 80%;
    width: 90%;
    margin-left: 5%;

    overflow: auto;

    background-color: #D1AEDA;
    border-radius: 30px;
    box-shadow: 3px 3px 3px black;
    color: #131313;
}

#recipes-main-border form {
    display: flex;
    flex-direction: column;

    align-items: center;
    
    width: 100%;
    height: 100%;
}

#recipes-main-border form h2 {

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    
}

.recipes-edit-category {
    display: flex;
    flex-direction: column;

    width: 80%;

    align-items: center;
    justify-content: center;
}

.recipes-edit-text-input, 
.recipes-edit-number-input, 
.recipes-edit-text-input-list,
.recipes-edit-textarea-input {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    min-height: 50px;

    margin: 10px 0px;
}

.recipes-edit-text-input label, 
.recipes-edit-number-input label, 
.recipes-edit-text-input-list label,
.recipes-edit-textarea-input label {
    width: 50%;
    margin-bottom: 15px;
}

.recipes-edit-text-input input, 
.recipes-edit-number-input input, 
.recipes-edit-text-input-list input,
.recipes-edit-textarea-input textarea {
    width: 70%;
    height: 100%;

    text-align: center;
    font-size: 15px;

    background-color: #e8d7ed;
    border: 1px solid #131313;
    -webkit-transition: 0.05s;
    transition: 0.05s;
    outline: none;
}


.recipes-edit-number-input input[type=number] {
    width: 150px;
    height: 100%;

    text-align: center;
    font-size: 20px;
}

.recipes-edit-text-input-list {
    width: 150Px;
}

.recipes-edit-text-input-list input {
    width: 150px;
    height: 100%;

    text-align: center;
    font-size: 15px;
}

.recipes-edit-textarea-input textarea {
    text-align: left;
}

.recipes-edit-text-input input[type=text]:focus, 
.recipes-edit-number-input input[type=number]:focus, 
.recipes-edit-text-input-list input:focus,
.recipes-edit-textarea-input textarea:focus {
    border: 2px solid #8c0083;
}

/*
    INGREDIENTS
*/

.recipes-edit-ingredients {
    display: flex;
    flex-direction: row;

    width: 70%;
    height: 30px;
    padding: 0;
    padding: 2px 0px;

    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: rgb(90, 11, 73);
    box-shadow: 0px 0px 3px black;
}

.recipes-edit-ingredients p {
    width: 100%;
    padding: 0;
    margin: 0;

    
    color: white;
}




.recipes-edit-ingredients input {
    width: 100%;
    height: 100%;
    margin: 0px 0px;

    text-align: center;
    font-size: 1.2em;
    font-family: KyivTypeTitling;

    background-color: #e7d5ed;
    border: solid 1px black;

    -webkit-transition: 0.05s;
    transition: 0.05s;
    outline: 0;
}

.recipes-edit-ingredients .ingredient-pair {
    background-color: #e6c4f2;
}


.recipes-edit-ingredients input:focus {
    /*border: 3px dashed #8c0083;*/
    background-color: #aab9fb;
}


#button-add-ingredient {
    width: 80px;
    margin: 20px 0px;

    background-color: #e8d7ed;
    border: 1px solid #131313;
    
    text-align: center;
    font-size: 25px;
    
    cursor: pointer;
}



/*
    PREPARATION
*/

.recipes-edit-preparation {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    align-items: center;
    text-align: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.recipes-edit-preparation textarea {
    width: 70%;
    margin: 0px 15px;

    background-color: #e8d7ed;

    -webkit-transition: 0.05s;
    transition: 0.05s;
    outline: none;
}

.recipes-edit-preparation textarea:focus {
    border: 1px solid #8c0083;
}

.recipes-edit-preparation p {

    width: 2%;

    background-color: #8c0083;

    font-size: 1em;
    font-weight: bold;
}

/*
    BUTTON ADD
*/


#button-add-ingredient, #button-add-preparation {
    width: 80px;
    margin: 15px 0px;

    background-color: #e8d7ed;
    border: 1px solid #131313;
    box-shadow: 2px 2px 3px black;
    
    text-align: center;
    font-size: 25px;
    
    cursor: pointer;
}

#button-add-ingredient:hover, #button-add-preparation:hover {
    background-color: #e9c7f4;
    border: 1px solid #350129;
    box-shadow: 1px 1px 1px black;
}

/*
    RATING
*/

.recipes-edit-rating {
    display: flex;
    flex-direction: row-reverse;
}

.recipes-edit-rating span{
    cursor: pointer;
    transition: color .2s;
    font-size: 50px;
 }
 .recipes-edit-rating span:hover{
    color: rgb(255, 0, 38);
 }
 .recipes-edit-rating span:hover ~ span{
    color: rgb(255, 0, 38);
 }
 .recipes-edit-rating span[data-clicked]{
    color: rgb(255, 0, 38);
 }
 .recipes-edit-rating span[data-clicked] ~ span{
    color: rgb(255, 0, 38);
 }