

:root {
  font-family: KyivTypeTitling;
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  line-height: 0;

  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#menu {
  display: inline-block;
  width: 300px;
  min-width: 300px;

  background-color: #3B0939;

  border-right: #C90DAB 1px solid;
}

#top_left_title {
  position: fixed;
  width: inherit;
  text-align: center;
  margin-top: 2%;

  font-size: 5vh;
  font-weight: bold;
}

#menu_buttons {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: center;

  height: 100%;
}

.tablinks {
  min-height: 45px;
  text-align: center;
  margin: 20px 20px;

  background-color: #654582;
  border: none;

  font-family: KyivTypeTitling;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}



#main_frame {
  background-color: #31243D;
  display: inline-block;
  width: 100%;
}


@font-face {
  font-display: block;
  font-family: "KyivTypeTitling";
  src: url("/assets/fonts/KyivTypeTitling-Regular.ttf");
}

@font-face {
  font-display: block;
  font-family: "KyivTypeTitling";
  font-weight: bold;
  src: url("/assets/fonts/KyivTypeTitling-Bold.ttf");
}
